#options{
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-alignment: center;
}

#options:hover {
    -fx-background-color: rgba(250, 250, 250, 0.125);
}

#correctAnswer{
    -fx-background-color: linear-gradient(rgba(50, 155, 50, 1), rgba(0, 105, 0, 1));
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
#wrongAnswer{
    -fx-background-color: linear-gradient(rgba(155, 50, 50, 1), rgba(105, 0, 0, 1));
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
            from 0px .75em to .75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 10%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
    -fx-border-insets: 0;
    -fx-border-width: 0;
}

#optionPane {
    -fx-background-color: linear-gradient(rgba(0, 0, 0, 1), rgba(30, 30, 30, 1));
}